<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.t19_md">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".shadows_clipping.ShadowsClippingActivity"
            android:label="ShadowsClippingActivity"/>
        <activity
            android:name=".drawables.DrawablesActivity"
            android:label="DrawablesActivity"/>

        <activity android:name=".drawables.TintActivity"
            android:label="TintActivity"/>

        <activity android:name=".drawables.PaletteActivity1"
            android:theme="@style/PaletteTheme"/>

        <activity android:name=".drawables.PaletteActivity2"
            android:theme="@style/PaletteTheme"/>

        <activity android:name=".drawables.VectorDrawableActivity"
                  android:theme="@style/PaletteTheme"/>

        <activity android:name=".custom_animations.CustomAnimationsActivity"
            android:label="CustomAnimationsActivity"/>
    </application>

</manifest>