<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.t3_add_animations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Animations Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleCrossfadeActivity"
            android:label="@string/text_simple_crossfade"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".CardFlipActivity"
            android:label="@string/text_cardflip"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ScreenSlideActivity"
            android:label="@string/text_screen_slide"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ZoomActivity"
            android:label="@string/text_zoom"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".LayoutChangesActivity"
            android:label="@string/text_layout_changes"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>